////
 /// Components
 /// ======
 ///
 /// groups of rules for generating common components, like overlay elements
 ///
 ////

 ///
///[overlay description]
///@param  {decimal} $opacity:0.95 Opacity level. 0.95 by default.
/// @param  {black|white} $color:black  Overlay color. For now, it only supports black and white. It is black by default or if value is not recognized.
/// @param  {string} $zindex:none  Optional z-index. None by default
@mixin overlay($opacity:0.95, $color:black, $zindex:none) {
  $red: 0;
  $green: 0;
  $blue: 0;

  @if ($color == white) {
    $red: 255;
    $green: 255;
    $blue: 255;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex;

  background: rgba($red, $green, $blue, $opacity);
}
