////
/// Mixins for general resetting purposes
/// Mixins for resetting styles
////

/// Reset Lists
/// Removes default bullet and padding from a list (to be used in ul elements)
/// @deprecated This mixin will be moved to the lists file
/// @group resets
@mixin list-reset($padding-left: 0) {
  list-style-type: none;
  padding-left: $padding-left;
}

/// Reset Highlighting
/// Reset outline effect usually given to links and inputs. In chrome, for example, it is a blue blurry outline, whereas in firefox it can be a black outline
@mixin highlight-reset() {
  :focus {
    outline-style: none;
    box-shadow: none;
  }
}

/// Clearfix helper
/// Use the below mixin for quickly clear fixing your HTML elements.
/// @link http://www.paulund.co.uk/sass-mixins-get-started-next-project
/// @example
/// .box
/// {
///   @include clearfix;
/// }
@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}


/// Min-height reset
/// Forces the web page to have, at least, 100% of the window's height
/// @example
///   @include body-min-window-height();
/// @todo get a better name. The current one sucks
@mixin body-min-window-height() {
  html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
  }
}
